@import "fonts"
@import "libs"
@import "vars"
@import "normalize"
@import "_mixins/mixins"

@import "blocks/header"
@import "blocks/intro"
@import "blocks/button"
@import "blocks/about"
@import "blocks/heading"
@import "blocks/skills"
@import "blocks/progress"
@import "blocks/resume"



*,
::before,
::after 
	box-sizing: border-box
	
body
	font-family: $default-font
	font-size: 16px;
	line-height: 1.6
	margin: 0
	padding: 0
	background-color: $white
a
	text-decoration: none
	display: block
	color: $primary
li
	list-style: none

.container
	max-width: 1160px
	min-width: 320px
	padding: 0 60px 
	margin: 0 auto 


h1, h2, h3, h4, h5, h6, td, p
	margin: 0
	padding: 0

.lorem
	background-color: #ccc


			
	
 
	

@import "media" // Всегда в конце

@media (max-width: 613px)
	.container
		padding: 0 15px